* {
    font-family: orbitron;
}

body {
    background-color:  #121212;
    color: gray;
}
.h2 {
    font-family: orbitron;
}
.focim {
    margin: auto;
    background-color: purple;
    color: white;
}
.film-box {
    background-color: #1e1e1e;
    
}
img {
  width: 100%;
  border-radius: 10%;  
}
.btn {
    background-color: purple;
    border: none;
}
.btn:hover {
    background-color: rgb(72,1,73);
}
